@font-face {
	font-family: Crsd;
	src: url(Cursed.ttf);
}

body {
	/*Box model stuff*/
	background-color: #e47041;
	/*Typography stuff*/
	font-family: sans-serif;
	text-align: center;
	color: white;
	/*Miscellaneous*/
	margin-inline: 0;
	margin-block: 2em;
}

h1 {
	/*Box model stuff*/
	margin: 0;
	margin-bottom: 0.5em;
	/*Typography stuff*/
	font-size: 48px;
	font-weight: bolder;
	color: #161616;
}

.count-btn {
	/*Box model stuff*/
	width: 45px;
	height: 45px;
	border: 2px solid #ef7f4d;
	border-radius: 5px;
	background-color: #b54213;
	/*Typography stuff*/
	font-family: Crsd;
	color: #161616;
	/*Miscellaneous*/
	margin-inline: 5px;
}

#new-game {
	/*Box model stuff*/
	padding: 1em 2em;
	border: 2px solid #9aabd8;
	border-radius: 10px;
	background-color: rgb(190, 190, 190);
	background: #4b5971;
	/*Typography stuff*/
	color: #161616;
}

.counters {
	/*Miscellaneous*/
	margin-inline: 1em;
}

.counter-bg {
	/*Display stuff*/
	display: flex;
	justify-content: center;
	/*Box model stuff*/
	width: 165px;
	height: 90px;
	margin: 0 auto;
	margin-bottom: 0.2em;
	padding-top: 10px;
	background-color: black;
	/*Typography stuff*/
	font-size: 64px;
	color: #f43f5e;
}

#timer {
	/*Display stuff*/
	display: flex;
	justify-content: center;
	/*Box model stuff*/
	width: 300px;
	height: 90px;
	margin: 0 auto;
	margin-bottom: 0.2em;
	padding-top: 30px;
	border: 5px solid grey;
	border-radius: 10px;
	background-color: black;
	/*Typography stuff*/
	font-family: Crsd;
	font-size: 64px;
	color: #ec0f34;
}

#mainbod {
	/*Display stuff*/
	display: flex;
	justify-content: center;
	/*Box model stuff*/
	width: 500px;
	margin: auto;
	padding: 3em;
}

p {
	/*Box model stuff*/
	margin: auto;
	/*Typography stuff*/
	font-family: Crsd;
}

#leading-team {
	/*Typography stuff*/
	font-size: 72px;
	color: #161616;
}
